<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="gov.nasa.arc.geocam.memo"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
                 android:name=".GeoCamMemoRoboApplication" android:debuggable="true"
                  android:theme="@style/default_style">
        <activity android:name=".activity.GeoCamMemoHomeActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GeoCamMemoCreateActivity"
         		  android:theme="@android:style/Theme.NoTitleBar"
         		  android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name=".activity.GeoCamMemoMapView"
         		  android:theme="@android:style/Theme.NoTitleBar"
         		  android:windowSoftInputMode="adjustResize" >
        </activity>
        <uses-library android:name="com.google.android.maps" />
    </application>
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest> 